<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="KafkaSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<KafkaSettings>
		<!-- Producer Settings -->
		<add key="Producer.BootstrapServers" value=""/>
		<add key="Producer.SecurityProtocol" value="SaslSsl"/>
		<add key="Producer.SaslMechanism" value="Plain"/>
		<add key="Producer.SaslUsername" value=""/> 
		<add key="Producer.SaslPassword" value=""/>
		<add key="Producer.Debug" value="security"/>

		<!-- Consumer Settings -->
		<add key="Consumer.BootstrapServers" value=""/>
		<add key="Consumer.SecurityProtocol" value="SaslSsl"/>
		<add key="Consumer.SaslMechanism" value="Plain"/>
		<add key="Consumer.SaslUsername" value=""/>
		<add key="Consumer.SaslPassword" value=""/>
		<add key="Consumer.GroupId" value="poc"/>
		<add key="Consumer.AutoOffsetReset" value="Earliest"/>
		<add key="Consumer.Debug" value="security"/>
	</KafkaSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>